doctype html
html
	head
		mata(charset='utf-8')
		title
	body
		form(action='/form_receiver', method='post')
			p
				input(type='text', name='id', maxlength='10')
			p
				input(type='text', name='name', maxlength='10')
			p
				button 제출